.reviews {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
  }

.reviews-title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
  }
  
  .reviews-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .reviews-header button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  .reviews-container {
    margin-top: 20px;
  }
  
  .reviews-container .reviews {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .reviews-container form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .reviews-container form .input-group {
    display: flex;
    flex-direction: column;
  }
  
  .reviews-container form label {
    font-weight: bold;
  }
  .reviews-container form .input-group:first-child {
    flex-basis: 400%;
  }
  
  .reviews-container form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .reviews-container form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .reviews-container form button:hover {
    background-color: #45a049;
  }
  
  .reviews-container button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
  }
  
  .reviews-container  button:hover {
    background-color: #45a049;
  }
  
  .reviews-container .review {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
  }
  
  .reviews-container .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    color: #333;
    font-weight: bold;
    margin-right: 30px;
  }
  
  .reviews-container .review-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .reviews-container .review button {
    align-self: flex-end;
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #f44336;
    color: white;
    cursor: pointer;
    width: 70px;
  }
  
  .reviews-container .review button:hover {
    background-color: #d32f2f;
  }
  

  
  
